body {
    color: black;
    font-family: "Roboto-Regular", sans-serif;
    background-color:#f9f9f9;
}

h2{
	color: #00bcd4;
}

h3{
	color: #00bcd4;
}

#menu{
	background:white;
}

#menuright{
	background: #efefef;
}



#troger-login {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  width: 350px;
  margin : 150px auto;
  padding : 20px;
}


#troger-login .pure-control-group input {
	width : 100%;
}

#troger-login form {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}